/.project
/.classpath
/.settings
/bin
/target
/temp
/test-output
/catalina.home_IS_UNDEFINED
/src/main/webapp/WEB_INF/classes
/src/main/webapp/WEB_INF/lib
/src/main/webapp/common
/src/main/webapp/static
/target
.tomcatplugin
*.jar
/.springBeans
*/.classpath
*/.project
*/.settings
*/temp
*/test-output
*/catalina.home_IS_UNDEFINED
*/target
*/bin
*/src/main/webapp/WEB_INF/classe
*/src/main/webapp/WEB_INF/lib
/.idea/
*.iml